
{%- macro method_parser(clazz, method) -%}
    {%- if method -%}
    {{-'static_cast<'-}}
    {%- if method.return_value -%}
        {%- if method.return_value.meta -%}
            {{-method.return_value.meta | convert_return_type-}}
        {%- else -%}
            {% if 'typedarray::' in method.return_value.type %}
            {{-method.return_value.type | typedarray_convert-}}
            {% else %}
            {{-method.return_value.type | convert_return_type-}}
            {% endif %}
        {%- endif -%}
    {%- else -%}
            {{-'void'-}}
    {%- endif -%}
        {{-'('-}}{{-clazz.name-}}{{-'::*)'-}}
        {%- if not method.arguments -%}
        ()
        {%- else -%}
        {{-'('-}}{{ method.arguments | convert_types(method.is_vararg) | join(',') }}{{-')'-}}
        {% endif %}
    {%- if method.is_const -%}const{%- endif -%}>(&{{clazz.name}}::{{method.name}})
    {%- endif -%}
{%- endmacro -%}

{%- macro static_method_parser(clazz, method) -%}
    {%- if method -%}
    {{-'static_cast<'-}}
    {%- if method.return_value -%}
        {%- if method.return_value.meta -%}
            {{-method.return_value.meta | convert_return_type-}}
        {%- else -%}
            {% if 'typedarray::' in method.return_value.type %}
            {{-method.return_value.type | typedarray_convert-}}
            {% else %}
            {{-method.return_value.type | convert_return_type-}}
            {% endif %}
        {%- endif -%}
    {%- else -%}
            {{-'void'-}}
    {%- endif -%}
        {{-'(*)'-}}
        {%- if not method.arguments -%}
        ()
        {%- else -%}
        {{-'('-}}{{ method.arguments | convert_types(method.is_vararg) | join(',') }}{{-')'-}}
        {% endif %}
    {%- if method.is_const -%}const{%- endif -%}>(&{{clazz.name}}::{{method.name}})
    {%- endif -%}
{%- endmacro -%}