{% set class_name = get_class_name(cls.name) %}
declare global {
    export class {{ class_name }}{% if class_name == "Signal" %}<T extends (...args: any[]) => void>{% endif %} {
        {# CONSTRUCTORS (from cls.constructors) #}
        {% for ctr in cls.constructors %}
        constructor({{ connect_args(ctr.arguments) }}): {{ class_name }};
        {% endfor %}
        {%- if class_name == 'Callable' %}
        constructor(object: GodotObject, method: Function): Callable;
        {%- endif -%}

        {# STATIC CONSTANTS (from cls.constants) #}
        {% for constant in cls.constants %}
        readonly static {{ constant.name }}: {{ class_name }};
        {% endfor %}
    
        {# INSTANCE PROPERTIES (from cls.members) #}
        {% for member in cls.members %}
        {{ member.name }}: {{ get_class_union_type(member.type) }};
        {% endfor %}

        {# INSTANCE METHODS (from cls.methods) #}
        {% for method in cls.methods %}
        {{ method.name }}({{ connect_args(method.arguments) + process_vararg(method.is_vararg, method.arguments) }}){{ set_return(method.return_type) }};
        {% endfor %}
        
        {# OPERATORS (Commented out as they don't map directly to JS/TS methods) #}
        /*
        {% for op in cls.operators %}
        // {{ get_operator_name(op.name) }}({{ set_type(op.right_type) }}): {{ set_type(op.return_type) }}
        {% endfor %}
        */
    }
}

export {};