#ifndef __REGISTER_CLASSES_H__
#define __REGISTER_CLASSES_H__

{%- for class in classes %}
void register_{{ camel_to_snake(class['name']) }}();
{%- endfor %}
void register_classes();
#endif // __REGISTER_CLASSES_H__