#include "register/classes/register_classes.hpp"
#include <cstdint>

void register_classes() {
    void register_variant();
{% for cls in classes %}
	{% if cls.name == 'Object' %}
	register_godot_object();
	{%else%}
	register_{{ camel_to_snake(cls.name) }}();
	{% endif %}
{% endfor %}
}