#include "register/classes/register_classes.h"
#include <cstdint>

std::unordered_map<intptr_t, int64_t> instance_id_map;

{%- macro print() %}
{%- endmacro %}

void register_classes() {
{{register_classes()}}
};