{%- set enums = gde_json['global_enums'] -%}
#include "register/register_enums.h"
#include "quickjs/env.h"

void register_enums() {
{%- for enum in enums %}
  {%- if 'Variant' not in enum['name'] %}
    qjs::Value {{enum['name']}} = context.newObject();
    {%- for value in enum['values'] %}
    {{enum['name']}}["{{value['name']}}"] = {{value['value']}};
    {%- endfor %}
    context.global()["{{enum['name']}}"] = {{enum['name']}};
  {%- endif %}
{%- endfor %}
}