#ifndef REGISTER_CLASSES
#define REGISTER_CLASSES

#include "qjspp.hpp"

extern qjs::Context::Module &_Node;
extern qjs::Context::Module &_Node2D;
extern qjs::Context::Module &_Node3D;
extern qjs::Context::Module &_Control;
extern qjs::Context::Module &_General;

{% for clazz in classes %}
    {% if 'VisualShader' not in clazz.name %}
void register_classes_{{clazz.name}}();
    {% endif %}
{% endfor %}

#endif