#include "register/register_classes.h"
#include "qjspp/utils.h"
#include <godot_cpp/classes/{{clazz.name|camel_to_snake}}.hpp>

{% for file_path in classes%}
    {% set clz = file_path | get_file_name | snake_to_camel %}
    {% if file_path != 'godot_cpp/variant/array_helpers.hpp' %}
#include <{{file_path}}>
    {% endif %}
{% endfor %}

using namespace godot;

void register_classes_{{clazz.name}}() {
    qjs::Context::Module &_module = _{{clazz.module}};
    _module.class_<{{clazz.name}}>("{{clazz.name}}")
           .constructor<>()
{% if 'properties' in clazz %}
{% set getter = clazz.properties.getter %}
{% set setter = clazz.properties.setter %}
{% for prop in clazz.properties %}
    {% if prop.getter and (not prop.getter.startswith('_')) and prop.setter and (not prop.setter.startswith('_')) %}
           .property<&{{clazz.name}}::{{prop.getter}}, &{{clazz.name}}::{{prop.setter}}>("{{prop.name}}")
    {% elif prop.getter and not prop.getter.startswith('_') %}
           .property<&{{clazz.name}}::{{prop.getter}}>("{{prop.name}}")
    {% endif %}
{% endfor %}
{% endif %}
{% for method in clazz.methods %}
    {% if method.name not in clazz.properties | map(attribute='getter') and method.name not in clazz.properties | map(attribute='setter') %}
    {% if not method.is_static %}
		    .fun<static_cast<
		{%- if method.return_value -%}
            {%- if method.return_value.meta -%}
                {{-method.return_value.meta | convert_return_type-}}
            {%- else -%}
                {% if 'typedarray::' in method.return_value.type %}
				{{-method.return_value.type | typedarray_convert-}}
                {% else %}
				{{-method.return_value.type | convert_return_type-}}
                {% endif %}
            {%- endif -%}
		{%- else -%}
				{{-'void'-}}
		{%- endif -%}
			{{-'('-}}{{-clazz.name-}}{{-'::*)'-}}
            {%- if not method.arguments -%}
            ()
            {%- else -%}
            {{-'('-}}{{ method.arguments | convert_types(method.is_vararg) | join(',') }}{{-')'-}}
            {% endif %}
		{%- if method.is_const -%}const{%- endif -%}>(&{{clazz.name}}::{{method.name}})>{{-'("'+method.name+'")'}}
	{% else %}
            .static_fun<&{{clazz.name}}::{{method.name}}>{{-'("'+method.name+'")'}}
	{% endif %}
	{% endif %}
{% endfor %}
{{-';'-}}
}