{%- macro call_returned(clazz, method) %}
{%- set args = method['arguments'] -%}
  {{ method['name'] }} ({{ args | map(attribute='name')  | add_prefix_suffix('_', '') | join(', ') }}) {
      {%- if method['return_type'] in variant_types() %}
    let ret = new {{ to_js_type(method['return_type']) }}()
    ret.opaque = _call_builtin_method_ptr_ret(
      {%- else %}
    let ret
    ret = _call_builtin_method_ptr{{'_obj' if method['return_type'] == 'Object' else ''}}_ret(
      {%- endif %}
      {{to_js_type(clazz['name'])}}.#_bindings.method_{{ method['name'] }},
      this,
      {{ get_type_index(camel_to_snake(method['return_type']) | upper) }},
      {%- if args %}
      [{{- args | map(attribute='name') | add_prefix_suffix('_', '') | join(', ') }}]
      {%- else %}
      []
      {%- endif %}
    )
    return ret
  }
{%- endmacro %}

{%- macro call_no_returned(clazz, method) %}
{%- set args = method['arguments'] -%}
  {{ method['name'] }} ({{ args | map(attribute='name')  | add_prefix_suffix('_', '') | join(', ') }}) {
    _call_builtin_method_ptr_no_ret(
      {{to_js_type(clazz['name'])}}.#_bindings.method_{{ method['name'] }},
      this,
      {%- if args %}
      [{{- args | map(attribute='name') | add_prefix_suffix('_', '') | join(', ') }}]
      {%- else %}
      []
      {%- endif %}
    )
  }
{%- endmacro %}

{% macro init_binding(methods, type) %}
  static async _init_bindings () {
    if (this.#initialized) {
      return;
    }
    this.#initialized = true;
    this.__init_bindings_constructors_destructor()
      {%- for method in methods %}
    {
      let _gde_name = new StringName('{{ method['name'] }}')
      this.#_bindings.method_{{ method['name'] }} = internal.variant_get_ptr_builtin_method(
        {{get_type_index(camel_to_snake(type) | upper)}},
        _gde_name.opaque,
        {{method['hash']}}
      )
    }
    {%- endfor %}
  }
{% endmacro %}

{% macro bindings_class(obj) %}
class _MethodBindings {
  from_variant_constructor
  {%- if obj['has_destructor'] %}
  destructor
  {%- endif %}
  {%- for constructor in obj['constructors'] %}
  constructor_{{constructor['index']}}
  {%- endfor %}
  {%- for method in obj['methods'] %}
  method_{{method['name']}}
  {%- endfor %}
  {%- for operator in (obj['operators'] | norm_op_name) %}
  {{operator}}
  {%- endfor %}
}
{% endmacro %}

{%- macro bind_ctor(obj,type) %}
  static __init_bindings_constructors_destructor () {
    {%- set ctors = obj['constructors'] %}
    this.#_bindings.from_variant_constructor = internal.get_variant_to_type_constructor(
      {{get_type_index(camel_to_snake(type) | upper)}}
    )
    {%- for ctor in ctors %}
    this.#_bindings.constructor_{{ctor['index']}} = internal.variant_get_ptr_constructor(
      {{get_type_index(camel_to_snake(type) | upper)}},
      {{ctor.index}}
    )
    {%- endfor %}
    {%- if obj['has_destructor'] %}
    this.#_bindings.destructor = internal.variant_get_ptr_destructor(
      {{get_type_index(camel_to_snake(type) | upper)}}
    )
    {%- endif %}
  }
{%- endmacro %}

{% macro base_ctor(clazz) %}
    {%- set ctors = clazz['constructors'] -%}
    {%- for ctor in clazz['constructors'] %}
    {%- if not ctor['arguments'] %}
    if (!value) {
      _call_builtin_constructor({{to_js_type(clazz['name'])}}.#_bindings.constructor_{{ctor['index']}}, this)
    }
    {%- else %} 
      {%- if ctor['arguments'] | length >= 1 %} else if (arguments.length == {{ctor['arguments'] | length}} 
      {%- for arg in ctor['arguments'] -%}
        {%- if is_variant(arg['type']) -%}
          && arguments[{{loop.index - 1}}] instanceof {{to_js_type(arg['type'])}}
        {%- elif is_pod_type(arg['type']) -%}
          && typeof arguments[{{loop.index - 1}}] == "{{to_js_type(arg['type'])}}"
        {%- else -%}
          && arguments[{{loop.index - 1}}] instanceof {{to_js_type(arg['type'])}}
        {%- endif -%}
      {%- endfor -%}) {
      {%- for arg in ctor['arguments'] %}
      let {{arg['name']}} = arguments[{{loop.index - 1}}];
      {%- endfor %}
      _call_builtin_constructor({{to_js_type(clazz['name'])}}.#_bindings.constructor_{{ctor['index']}}, this, [
        {{ ctor['arguments'] | map(attribute='name') | join(', ') }}
      ])
    }
      {%- else -%} else if (value instanceof {{to_js_type((ctor['arguments'] | first)['type'])}}) {
      {%- for arg in ctor['arguments'] %}
      {%- endfor %}
      _call_builtin_constructor({{to_js_type(clazz['name'])}}.#_bindings.constructor_{{ctor['index']}}, this, [
        {{ ctor['arguments'] | map(attribute='name') | join(', ') }}
      ])
    }
      {%- endif %}
    {%- endif %}
  {%- endfor %} else if (value.constructor.name === "Variant") {
      {{to_js_type(clazz['name'])}}.#_bindings.from_variant_constructor(this.opaque, value.opaque)
    } else if (value instanceof Uint8Array) {
      this.opaque = value;
    } {% endmacro -%}

{% macro set_property(clazz) %}
  {%- for property in clazz['properties'] %}
{%- if property['getter'] %}
get {{property['name']}} () {
  return this.{{property['getter']}}();
}
{%- endif %}
{%- if property['setter'] %}
set {{property['name']}} (new_value) {
  this.{{property['setter']}}(new_value);
}
{%- endif %}
  {%- endfor %}
{% endmacro %}