{%- macro call_returned(clazz, method) %}
{%- set args = method['arguments'] -%}
  {{ method['name'] }} ({{ args | map(attribute='name')  | add_prefix_suffix('_', '') | join(', ') }}) {
      {%- if method['return_type'] in variant_types() %}
    let ret = new {{ to_js_type(method['return_type']) }}()
    ret.opaque = _call_builtin_method_ptr_ret(
      {%- else %}
    let ret
    ret = _call_builtin_method_ptr{{'_obj' if method['return_type'] == 'Object' else ''}}_ret(
      {%- endif %}
      {{to_js_type(clazz['name'])}}._bindings.method_{{ method['name'] }},
      this,
      Variant.Type.{{ camel_to_snake(method['return_type']) | upper }},
      {%- if args %}
      [{{- args | map(attribute='name') | add_prefix_suffix('_', '') | join(', ') }}]
      {%- else %}
      []
      {%- endif %}
    )
    return ret
  }
{%- endmacro %}

{%- macro call_no_returned(clazz, method) %}
{%- set args = method['arguments'] -%}
  {{ method['name'] }} ({{ args | map(attribute='name')  | add_prefix_suffix('_', '') | join(', ') }}) {
    _call_builtin_method_ptr_no_ret(
      {{to_js_type(clazz['name'])}}._bindings.method_{{ method['name'] }},
      this,
      {%- if args %}
      [{{- args | map(attribute='name') | add_prefix_suffix('_', '') | join(', ') }}]
      {%- else %}
      []
      {%- endif %}
    )
  }
{%- endmacro %}

{% macro init_binding(methods, type) %}
  static _init_bindings () {
    this.__init_bindings_constructors_destructor()
      {%- for method in methods %}
    {
      let _gde_name = new StringName('{{ method['name'] }}')
      this._bindings.method_{{ method['name'] }} = internal.variant_get_ptr_builtin_method(
        Variant.Type.{{camel_to_snake(type) | upper}},
        _gde_name.opaque,
        {{method['hash']}}
      )
    }
    {%- endfor %}
  }
{% endmacro %}

{% macro bindings_class(obj) %}
class _MethodBindings {
  from_variant_constructor
  {%- if obj['has_destructor'] %}
  destructor
  {%- endif %}
  {%- for constructor in obj['constructors'] %}
  constructor_{{constructor['index']}}
  {%- endfor %}
  {%- for method in obj['methods'] %}
  method_{{method['name']}}
  {%- endfor %}
  {%- for operator in (obj['operators'] | norm_op_name) %}
  {{operator}}
  {%- endfor %}
}
{% endmacro %}

{%- macro bind_ctor(obj,type) %}
  static __init_bindings_constructors_destructor () {
    {%- set ctors = obj['constructors'] %}
    this._bindings.from_variant_constructor = internal.get_variant_to_type_constructor(
      Variant.Type.{{camel_to_snake(type) | upper}}
    )
    {%- for ctor in ctors %}
    this._bindings.constructor_{{ctor['index']}} = internal.variant_get_ptr_constructor(
      Variant.Type.{{camel_to_snake(type) | upper}},
      {{ctor.index}}
    )
    {%- endfor %}
    {%- if obj['has_destructor'] %}
    this._bindings.destructor = internal.variant_get_ptr_destructor(
      Variant.Type.{{camel_to_snake(type) | upper}}
    )
    {%- endif %}
  }
{%- endmacro %}

{% macro base_ctor(clazz) %}
    {%- set ctors = clazz['constructors'] -%}
    {%- for ctor in clazz['constructors'] %}
      {%- if not ctor['arguments'] %}
    if (!from) {
      _call_builtin_constructor({{to_js_type(clazz['name'])}}._bindings.constructor_{{ctor['index']}}, this)
    }{% else %} else if (arguments[0] instanceof {{to_js_type((ctor['arguments'] | first)['type'])}}) {
      {%- for arg in ctor['arguments'] %}
      let {{arg['name']}} = arguments[{{loop.index - 1}}];
      {%- endfor %}
      _call_builtin_constructor({{to_js_type(clazz['name'])}}._bindings.constructor_{{ctor['index']}}, this, [
        {{ ctor['arguments'] | map(attribute='name') | join(', ') }}
      ])
    }
    {%- endif %}
  {%- endfor %} else if (from instanceof Variant) {
      {{to_js_type(clazz['name'])}}._bindings.from_variant_constructor(this.opaque, from.opaque)
    } {% endmacro -%}