#include "register/register_classes.h"
#include <godot_cpp/classes/{{clazz.name | camel_to_snake}}.hpp>

using namespace godot;

void register_classes_{{clazz.name}}Ref() {
	qjs::Context::Module &_General = get_General_module();
	_General.class_<Ref<{{clazz.name}}>>("{{clazz.name}}Ref").constructor<{{clazz.name}} *>();
}