#include "register/register_utility_functions.h"
#include "register/utils.h"
#include <godot_cpp/variant/utility_functions.hpp>

using namespace godot;

void register_utility_functions() {
	qjs::Value gd = context.newObject();
	qjs::Value math = context.newObject();
    {% for func in utility_functions %}
        {% if func.name not in ignore %}
            {% if func.category == 'math' %}
    math.add("{{func.name}}", UtilityFunctions::{{func.name}});
            {% elif func.category == 'general' %}
	gd.add("{{func.name}}", UtilityFunctions::{{func.name}});
            {% endif %}
        {% endif %}
    {% endfor %}
	context.global()["GD"] = gd;
	context.global()["Math"] = math;
}