else if (typeof from == 'string') {
      internal.string_new_with_latin1_chars(this.opaque, from)
    } else if (typeof from == 'number' || typeof from == "boolean") {
      internal.string_new_with_latin1_chars(this.opaque, from.toString())
    }