else if (typeof value == 'string') {
      internal.string_new_with_latin1_chars(this.opaque, value)
    } else if (typeof value == 'number' || typeof value == "boolean") {
      internal.string_new_with_latin1_chars(this.opaque, value.toString())
    }