else if (typeof value == 'string') {
      internal.string_name_new_with_latin1_chars(this.opaque, value, false)
    } else if (typeof value == 'number' || typeof value == "boolean") {
      internal.string_name_new_with_latin1_chars(this.opaque, value.toString(), false)
    }