else if (typeof from == 'string') {
      string_name_new_with_latin1_chars(this.opaque, from, false)
    } else if (typeof from == 'number' || typeof from == "boolean") {
      string_name_new_with_latin1_chars(this.opaque, from.toString(), false)
    }